*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.heading-container {
    padding: 0%;
    margin: 0%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.container {
    width: 100%;
    overflow-x: auto;
}

.no-style {
    text-decoration: none;
}

.grid-container {
    display: grid;
}

.table-container {
    height: 70vh;
    overflow-y: auto;
    background-color: rgb(215, 216, 218);
}

.page-footer {
    position: fixed;
    bottom: 0;
    height: 150px;
}